{% extends "base.html" %}
{% block content %}

    <div class="row">
        <article class="col-12">
            <h1>Crypto List</h1>
            <body>
            <table id="customers">
                <tr>
                    {% for header in headings %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </table>
            </body>

        </article>
    </div>
    <style>
#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border-top: 1px solid #ddd;
  padding: 16px;
}

#customers tr:nth-child(even){background-color: white;}

#customers tr:hover {background-color: #99cfff;}

#customers th {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: left;
  background-color: white;
  color: #333333;
}

#customers th:last-child,
#customers td:last-child {
    text-align: right;
}

#customers th:nth-last-child(2),
#customers td:nth-last-child(2) {
    text-align: center;
}

#customers th:nth-last-child(3),
#customers td:nth-last-child(3) {
    text-align: center;
}

#customers th:nth-last-child(4),
#customers td:nth-last-child(4){
    text-align: center;
}

#customers th:nth-last-child(5),
#customers td:nth-last-child(5){
    text-align: right;
}
</style>

{% endblock %}
</article>

