{% extends "base.html" %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $(".btn1").click(function(){
        $("td").hide();
      });
      $(".btn2").click(function(){
        $("td").show();
      });
    });
    </script>
    <div>
    <h1>Home Page</h1>
        <article id="article" class="col-8 lh-lg fs-5">
            <body>
            <table id="customers">
                <tr>
                    {% for header in headings %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <button id="button1" class="btn1">Hide</button>
                <button id="button1" class="btn2">Show</button>

            </table>
            </body>

        </article>
        <div>
        {% if current_user.is_authenticated == false %}
                <aside id="aside" class="col-4">
                    <h2>Login</h2>
                    <form action="{{ url_for('auth.login') }}" method=post>
                        <dl>
                            {{ form.csrf_token }}
                            {{ render_field(form.email) }}
                            {{ render_field(form.password) }}
                        </dl>
                        <p><input type=submit value=Login>
                    </form>
                </aside>

            {% endif %}
        </div>
    </div>
    <style>


#button1 {
    float: left;
}


#article {
    float: left;
}

#aside {
    float: right;
    padding-left: 24px;
}

#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border-top: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: white;}

#customers tr:hover {background-color: #99cfff;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: #333333;
}

#customers th:last-child,
#customers td:last-child {
    text-align: right;
}

#customers th:nth-last-child(2) {

    text-align: center;
}

#customers td:nth-last-child(2) {
    text-align: center;
}

</style>

{% endblock %}
</article>
