{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
    <div class="row">
        <div class="col-7">
            <h2>Register</h2>
            {{ render_form(form) }}
        </div>
        <div id="message" class="col-5">
            <p1> <b> Password must contain the following: </b> </p1>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="special" class="invalid">A <b>special character</b></p>
            <p id="count" class="invalid">Minimum password length is <b>7</b> & Maximum password length is <b>18</b></p>
            <div class="progress">
                <div id="p-bar" class="progress-bar" style="width: 0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        </div>
    </div>

    <style>

        .bar-success {
          background-color: green;
        }

        .bar-success80 {
          background-color: yellowgreen;
        }

        .bar-success60 {
          background-color: yellowgreen;
        }

        .bar-success40 {
          background-color: orange;
        }

        .bar-success20 {
          background-color: orangered;
        }



        .col-5 {
            padding-top: 75px;
        }

        p {
            padding-top: 10px;
        }

        .invalid {
            color: red;
        }

        .invalid:before {
            position: relative;
            left: 0px;
            content: "X";
            padding-right: 10px;
        }

        .valid {
            color: green;
        }

        .valid:before {
            position: relative;
            left: 0px;
            content: "";
        }

    </style>

    <script>

        let passwordForm = document.getElementById("password");
        let letter = document.getElementById("letter");
        let lowerCase = document.getElementById("lowerCase");
        let capital = document.getElementById("capital");
        var number = document.getElementById("number");
        let count = document.getElementById("count");
        let special = document.getElementById("special");

        let minCount = 0;
        let specialCount = 0;
        let upperCase = 0;
        let num = 0;


        passwordForm.onfocus = function () {
            var message = document.getElementById("message");

        }
        passwordForm.onkeyup = function () {
            let progress_bar = document.getElementById("p-bar");

            let lowerCaseLetters = /[a-z]/g;
            var upperCaseLetters = /[A-Z]/g;
            let numbers = /[0-9]/g;
            let specialCharacters = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]+/g;
            let characterCount = /^.{7,18}$/g;

            let newValue;
            let total = 0;
            let barColor = 20;

            if (passwordForm.value.match(lowerCaseLetters)) {
                lowerCase = 1;
                letter.classList.remove("invalid");
                letter.classList.add("valid");
            }

            else {
                lowerCase = 0;
                letter.classList.remove("valid");
                letter.classList.add("invalid");
            }

            if (passwordForm.value.match(upperCaseLetters)) {
                upperCase = 1;
                capital.classList.remove("invalid");
                capital.classList.add("valid");
            }

            else {
                upperCase = 0;
                capital.classList.remove("valid");
                capital.classList.add("invalid");
            }

            if (passwordForm.value.match(numbers)){
                num = 1;
                number.classList.remove("invalid");
                number.classList.add("valid");
            }

            else{
                num = 0;
                number.classList.remove("valid");
                number.classList.add("invalid");
            }

            if (passwordForm.value.match(specialCharacters)){
                specialCount = 1;
                special.classList.remove("invalid");
                special.classList.add("valid");
            }

            else{
                specialCount = 0;
                special.classList.remove("valid");
                special.classList.add("invalid");
            }

            if (passwordForm.value.match(characterCount)){
                minCount = 1;
                count.classList.remove("invalid");
                count.classList.add("valid");
            }

            else{
                minCount = 0;
                count.classList.remove("valid");
                count.classList.add("invalid");
            }


            total = lowerCase + num + upperCase + minCount + specialCount;
            console.log("total is: " + total);

            let completeSuccess = "100%";
            let at80 = "80%";
            let at60 = "60%";
            let at40 = "40%";
            let at20 = "20%";
            let at0 = "0%";

            let pBarWidthString = progress_bar.style.width;
            let currentWidth = parseInt(pBarWidthString.substring(0, pBarWidthString.length - 1));
            currentWidth = barColor*total;
            let newStringWidth = currentWidth.toString();
            newValue = newStringWidth.concat("%");
            progress_bar.style.width = newValue;

            if (progress_bar.style.width.match(completeSuccess)){
                progress_bar.classList.remove("progress-bar");
                progress_bar.classList.add("bar-success");

            }else{
                progress_bar.classList.remove("bar-success");
                progress_bar.classList.add("progress-bar");

            }

            if (progress_bar.style.width.match(at80)){
                progress_bar.classList.remove("progress-bar");
                progress_bar.classList.add("bar-success80");

            }else{
                progress_bar.classList.remove("bar-success80");
                progress_bar.classList.add("progress-bar");

            }

            if (progress_bar.style.width.match(at60)){
                progress_bar.classList.remove("progress-bar");
                progress_bar.classList.add("bar-success60");

            }else{
                progress_bar.classList.remove("bar-success60");
                progress_bar.classList.add("progress-bar");

            }

            if (progress_bar.style.width.match(at40)){
                progress_bar.classList.remove("progress-bar");
                progress_bar.classList.add("bar-success40");

            }else{
                progress_bar.classList.remove("bar-success40");
                progress_bar.classList.add("progress-bar");

            }

            if (progress_bar.style.width.match(at20)){
                progress_bar.classList.remove("progress-bar");
                progress_bar.classList.add("bar-success20");

            }else{
                progress_bar.classList.remove("bar-success20");
                progress_bar.classList.add("progress-bar");

            }

            if (progress_bar.style.width.match(at0)){
                progress_bar.classList.remove("progress-bar");
                progress_bar.classList.add("progress-bar");

            }else{
                progress_bar.classList.remove("progress-bar");
                progress_bar.classList.add("progress-bar");

            }



        }


    </script>
{% endblock %}